
body{
    
   
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

.navbar-custom{
    background-color: rgb(203, 208, 223);
}

.inf{
    font-size: 20px;
    font-style: unset;
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.t{
    font-size: 25px;
}
